<!DOCTYPE html>
<div lang="en">

    <%- include('./partials/head.ejs') %>


        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque illum explicabo vero
                    quisquam
                    eius
                    sint
                    expedita, ratione aliquam mollitia doloremque molestiae reprehenderit cum asperiores nesciunt beatae
                    ipsa
                    hic
                    aperiam.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque illum explicabo vero
                    quisquam
                    eius
                    sint
                    expedita, ratione aliquam mollitia doloremque molestiae reprehenderit cum asperiores nesciunt beatae
                    ipsa
                    hic
                    aperiam.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque illum explicabo vero
                    quisquam
                    eius
                    sint
                    expedita, ratione aliquam mollitia doloremque molestiae reprehenderit cum asperiores nesciunt beatae
                    ipsa
                    hic
                    aperiam.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque illum explicabo vero
                    quisquam
                    eius
                    sint
                    expedita, ratione aliquam mollitia doloremque molestiae reprehenderit cum asperiores nesciunt beatae
                    ipsa
                    hic
                    aperiam.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque illum explicabo vero
                    quisquam
                    eius
                    sint
                    expedita, ratione aliquam mollitia doloremque molestiae reprehenderit cum asperiores nesciunt beatae
                    ipsa
                    hic
                    aperiam.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque illum explicabo vero
                    quisquam
                    eius
                    sint
                    expedita, ratione aliquam mollitia doloremque molestiae reprehenderit cum asperiores nesciunt beatae
                    ipsa
                    hic
                    aperiam.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque illum explicabo vero
                    quisquam
                    eius
                    sint
                    expedita, ratione aliquam mollitia doloremque molestiae reprehenderit cum asperiores nesciunt beatae
                    ipsa
                    hic
                    aperiam.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque illum explicabo vero
                    quisquam
                    eius
                    sint
                    expedita, ratione aliquam mollitia doloremque molestiae reprehenderit cum asperiores nesciunt beatae
                    ipsa
                    hic
                    aperiam.</p>
            </div>
            <%- include('./partials/footer.ejs') %>
                </body>

                </html>